<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  <body>
    <div class="wrapper">
      <h2>Inscription</h2>
      <form >

        <div class="input-box">
          <input type="text" [(ngModel)]="form.username" name="username" placeholder="Nom complet" required>
        </div>
        <div class="input-box">
          <input type="text" placeholder="N° Biometrique" required [(ngModel)]="form.biometrie"  name="biometrie" >
        </div>
        <div class="input-box">
          <input type="date" [(ngModel)]="dateValue" name="datenaissance" placeholder="Date de naissance" value="2022-12-31T00:00:00" required>
        </div>
        <div class="input-box">
          <input type="tel" placeholder="N° telephone" required [(ngModel)]="form.telephone" name="telephone" >
        </div>
        <div class="input-box">
          <input type="text" placeholder="Sexe" required [(ngModel)]="form.sexe" name="sexe" >
        </div>
        <!-- <ion-list>
          <ion-item> -->
          
          <!-- <ion-select placeholder="Genre" [multiple]="true"   [(ngModel)]="form.sexe" name="sexe">
              <ion-select-option value="homme">Homme</ion-select-option>
              <ion-select-option value="femme">Femme</ion-select-option> -->
            <!-- </ion-select> -->
          <!-- </ion-item>
        </ion-list> -->



        <div class="input-box">
          <input type="email" placeholder="Email" required [(ngModel)]="form.email" name="email" >
        </div>

        <div class="input-box">
          <input type="password" placeholder="Mot de passe" required [(ngModel)]="form.password" name="password" >
        </div>

        <div class="bouton">
          <button type="submit" class=" inscription" (click)="onSubmit()">Inscrire</button>
        </div>

        <div style="margin-bottom: 20px;" class="text">
          <h3>Voulez-vous connecter ? <a routerLink="/connexion">connexion</a></h3>
        </div>
      </form>
    </div>
  </body>

</ion-content>