<ion-header>
  <ion-toolbar>
    <ion-title>Résultat projet lois</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let s of proj" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <div class="title" style="text-align: center;">
    <h1 style="font-size: 25PX;font-weight:bold">Résultats de vote</h1>
  </div>

  <ion-card style="background-color: #EEEEEE; padding-left:30px;; padding-right:30px;">
    <ion-card>
      <ion-card-content style="background-color: #15F048;font-weight:bolder; color:black">
        <h2 style="font-weight:bolder; color:black">POUR</h2>
        <h2 style="font-weight:bolder; color:black">{{s.pour}}</h2>
      </ion-card-content>
      <ion-card-content  style="background-color: #FD5151;">
        <h2 style="font-weight:bolder; color:black">CONTRE</h2>
        <h2 style="font-weight:bolder; color:black">{{s.contre}}</h2>
      </ion-card-content>
      <ion-card-content style="background-color: white;">
        <h2 style="font-weight:bolder; color:black">NEUTRE</h2>
        <h2 style="font-weight:bolder; color:black">{{s.neutre}}</h2>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>