.unt {
    display: flex;

}

.imhg {
    width: 50px;
    border-radius: 10px;

}

.chiffre {
    position: relative;
    top: 25px;
    right: 50px;
    font-size: 25px;
}

.unte {
    display: flex;
    gap: 23px;
}

.imhge {
    width: 50px;
    border-radius: 10px;
    margin-left: auto;

}