<ion-header>
  <ion-toolbar>
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <div class="mali">
    <img src="/assets/images/mali.png" alt="">
  </div>
  <div style="margin-left:12PX; font-style:italic">
    <h1 style="font-weight: bold; font-size:23PX;">REPUBLIQUE DU MALI</h1>
    <P style="text-align: center;">Un peuple - Un but - Une foi</P>
  </div>
  <div class="citation" style="background-color: #00078F;text-align:center ; font-size:10px; color:white; ">
    <p>VOTER EST UN DROIT, C'EST AUSSI UN DEVOIR CIVIQUE</p>
  </div>
  <div style="margin-left:12PX" class="fanfan">
    <p><i class="fa-sharp fa-solid fa-square-check"></i> Pour voter <br>
      <i class="fa-sharp fa-solid fa-square-check"></i> pour voir le resultats
    </p>
  </div>
  <ion-text>
    <p style="margin-left:12PX;">Pour tout savoir sur les élections et effectuer
      vos démarches électorales, veillez scanné le QR
      Code de votre carte d’électeur.</p>
  </ion-text>
  <img class="imgscanner" src="/assets/images/scan.jpg" alt="scanner">
  <div class="button">
    <p>
      <button style="margin-left:12PX" class="commencer"><a routerLink="/accueil">scanner ici</a></button>
    </p>
  </div>



</ion-content>