


.mali{
    margin-top: 20PX;
    height: auto;
    width: 10VH;
    margin-left: 15PX;
}

.citation{
    height: 20px;
}

.imgscanner{
    height: 20vh;
    padding-left: 15px;
}

.commencer{
    height: 20PX;
    width: 20VH;
    background-color: #0013BF;
    font-size: 20PX;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin: 15PX;
}

.entre{
    
}

a{
    text-decoration: none;
    color: white;
  }

  .fanfan{
    padding-left: 50px;
    padding-top: 10px;
  }

