
.candidat{
    height: 50%;
    width: auto;

}

.parti{
    height: 50px;
    margin-right: 17px;
    margin-top: -25%;
    margin-left: 175px;
   
}

.parti{
    height: 30px;
    margin-right: 12px;
    margin-top: -18%;
    margin-left: 160px;
    display: block;
}

.bb{
    font-size: 122PX;
    margin-left: 20%;
    margin-right: 10%;
    padding: 20PX;
}

// Bouton popop
button{
    background-color: white;
    color: white;
    padding: 7px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    // ici
    margin-right: 10px;
    margin-bottom: 15px;
}

.candidatVote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}
a{
    text-decoration: none;
    color: white;
  }

  .cardi{
    margin-bottom: 10PX;
  }
  
  // location 
  ion-button{
    width: 100%;
    --background: #0013BF;
}
