<ion-header>
  <ion-toolbar>
    <div class="retour"  style="display: flex;">
      <a routerLink="/tabs/accueil"><ion-icon name="arrow-back-outline" style="color:black;"></ion-icon></a>
        <ion-title></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  <div class="title" style="text-align: center;">
    <h1 style="font-size:25PX;font-weight:bold;">{{this.nomelection}}</h1>
    <h2 style="font-size: 19PX;font-weight:bold">Choisissez votre candidats</h2>
  </div>

  <form>
    <ion-searchbar  placeholder="recherche candidat" name="searchText" [(ngModel)]="searchText"></ion-searchbar>
  </form>
  
  <ion-card style="background-color: #D8D8D8;">
    <div class="contentcard">
    <ion-card-content class="cardi" *ngFor="let cand of candidats">
      <div class="" style="display: flex;">
        <div class="candidatVote">
          <img class="candidat" src="{{cand.imagecandidat}}" style="border-radius: 05PX;"><img>
          <img class="parti" src="{{cand.imageparti}}" style="border-radius: 05PX;"><img>
          <h2 style="padding-top: 20px; color:black; font-weight:bold">{{cand.nomcandidat}}</h2>
          <ion-button style="width: 80PX;" class="vote" (click)="presentAlert(cand.idcandidat)">Vote</ion-button>
        </div>
      </div>
    </ion-card-content>
  </div>
  </ion-card>
</ion-content>