<ion-header>
  <ion-toolbar>
    <ion-title>Categorie de vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  <div class="title" style="text-align: center;">
    <h1 style="font-weight:bold;">ELECTION PRESIDENTIELLE 2023</h1>
  </div>

  <ion-card style="background-color: #D8D8D8;">
    <h3 style="text-align: center; font-size:15PX; font-weight:bold; color:black">Election presidentiel</h3>
    
    <div class="global">
      <div class="date">
        <P style="color: black;">Du : 18/01/2023 02:14</P>
        <P style="color: black;">Au : 18/01/2023 05:14</P>
      </div>
      <div class="imgelection">
        <img src="/assets/images/vote.png" alt="">
      </div>
    </div>
  </ion-card>

  <span class="gps" style="margin-left: 20PX;margin-right: 20PX">Cliquez<a href="/" style="color: blue;"> ici</a> pour activez votre GPS</span> 

  <!-- button commencer -->
      <button class="commencer"><a routerLink="/vote">Commencer</a></button>

</ion-content>