<!-- <ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
  <body>
    <nav >
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn" >
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="assets/images/logo.png" alt="" class="logo">
            <div class="nom" ><p >Doniso</p></div>
        </a>
        <ul>
            <li><a class="active" routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/accueil">Accueil</a></li>
            <li><a routerLink="/connexion">Connexion</a></li>
            <li><a routerLink="/inscription">Inscription</a></li>
            <li><a routerLink="/accueil">Services</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <!-- <section></section> -->
</body>

</ion-content>
