<ion-toolbar>
  
<ion-buttons slot="primary">
  <ion-button id="popover-button">
    <i class="bi bi-three-dots"></i>
  </ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
    <ng-template class="popUp">
      <ion-content>
        <ion-list >
          <ion-item [routerLink] ="['/monprofil']">Mon profil</ion-item>
          <ion-item (click)="logout()"  >Deconnexion</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
</ion-popover>
</ion-buttons>
</ion-toolbar>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="accueil">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="typedevote">
        <ion-icon name="map"></ion-icon>
        <ion-label>Vote</ion-label>
      </ion-tab-button>

       <ion-tab-button tab="classement">
       <ion-icon name="person-outline"></ion-icon>
        <ion-label>Classement</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="resultatprolois" routerLink="/resultatprolois">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Projet</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

