
<ion-header>
  <ion-toolbar>
    <ion-title slot="start" text-center>Candidats</ion-title>
    <ion-label slot="start">
      <div class="search-wrapp">
        <span class="fa fa-search"></span>
        <input type="search" name=""  placeholder="recherche">
    </div>
    </ion-label>
    <ion-label slot="end">
      <div id="dropdown" class="user-wrapp">
        <div>
            <h4>Jean</h4>
            <small>Admin</small>
        </div>
        <div class="dropdown-content">
            <p>Profil</p>
            <p>Deconnexion</p>
        </div>
    </div>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h2>Ajouter une élection</h2>
        </div>
        <div>
          <span class="fa fa-outdent"></span>
        </div>
        <div>
          <!-- <span class="fa fa-shopping-cart"></span> -->
        </div>
      </div>

      <div class="card-single">
        <div>
          <h2>Ajouter un candidat</h2>
          <small>Utilisateurs</small>
        </div>
        <div>
          <span class="fa fa-outdent"></span>
        </div>
        <div>
          <!-- <span class="fa fa-newspaper-o"></span> -->
        </div>
      </div>

      <div class="card-single">
        <div>
          <h2>Voir les résultats</h2>
          <small>Formation réalisé</small>
        </div>
        <div>
          <span class="fa fa-outdent"></span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h2>Afficher les candidats</h2>
          <small>Communauté</small>
        </div>
        <div>
          <span class="fa fa-group"></span>
        </div>

      </div>
    </div>

    <!-- <div class="pole"></div> -->

  </main>
</ion-content>
