<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  <div class="wrapper">
    <div class="log">
      <img class="logo" src="assets/images/kalata.png/" alt="logo">
    </div>
    <h2>Connexion</h2>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-box">
        <input placeholder="N° Biométrique" type="text"
        class="form-control"
        name="biometrieOrTelephone"
        [(ngModel)]="form.biometrieOrTelephone"
        required
        #biometrieOrTelephone="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && biometrieOrTelephone.errors }">

        <div *ngIf="biometrieOrTelephone.errors && f.submitted" class="invalid-feedback">
          Username is required!
        </div>
      </div>

      <div class="input-box">
        <input placeholder="Mot de passe" type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>


      <div class="text">
        <h3 class="mdp" style="margin-left: -05px;"><a routerLink="/accueil">Mot de passe oublié ?</a></h3>
        <h3 class="inscris" style="margin-left: 0px;">Veillez-vous inscrire ici ! <a
            routerLink="/inscription">Inscription</a></h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="connexion">
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </div>

      


    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.

      <!-- <ion-item  >Deconnexion</ion-item> -->
        <!-- <ion-icon name="power"></ion-icon>
        Déconnexion
      </button> -->
          </div>
  </div>

</ion-content>