<ion-header>
  <ion-toolbar>
    <ion-title>politique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="global">
    <div class="outro">
      <div>
        <ion-img src="assets/images/etat.png"></ion-img>
      </div>
      <div class="texte">
        <p style="color: red; font-size:20px; margin:auto;">Conditions pour voter</p>
      </div>
    </div>
    <ion-text color="">
      <ul>
        <li>Veuillez donner votre vote respectueux conformément aux directives de la Commission électorale du Mali.
        </li>
        <li>
          L'identité de l'électeur sera directement vérifiée avec les documents gouvernementaux.
        </li>
        <li>
          Le vote ne peut être donné qu'à un seul candidat, et après la soumission, la sélection ne peut pas être
          modifiée.
        </li>
        <li>
          Veuillez voter si votre âge est de 18 ans et plus selon les règles.
        </li>
        <div style="margin-top: 15px;">
          <ion-checkbox></ion-checkbox> 
          <i> Veuillez accepter les termes et conditions.</i>
        </div>
      </ul>
    </ion-text>
    <div class="button">
      <p>
        <button class="commencer">Commencer</button>
      </p>
    </div>
    <div class="">
    </div>



  </div>
</ion-content>