<div class="sidebar-brand">
  <h2><span class="fa fa-user-o"> </span>KALATA</h2>
</div>

<div class="sidebar-menu">
  <ul>
    <li><a class="active" routerLink="/dashboard/accueil"><span class="fa fa-home"></span><span>
          Accueil</span></a></li>
    <li><a routerLink="/dashboard/candidats"><span class="fa fa-tasks"></span><span> Candidats</span></a></li>
    <li><a routerLink="/dashboard/vote"><span class="fa fa-th-large"></span><span> Vote</span></a></li>
    <li><a routerLink="/dashboard/resultats"><span class="fa fa-line-chart"></span><span> Résultats</span></a></li>
    <li><a routerLink="/dashboard/candidats"><span class="fa fa-address-book"></span><span> Connxion</span></a></li>
    <li><a routerLink="inscription"><span class="fa fa-clipboard"></span><span> Inscription</span></a></li>
    <li><a routerLink="connexion"><span class="fa fa-money"></span><span> Bilans</span></a></li>
    <li><a routerLink="/"><span class="fa fa-registered"></span><span> Enregistrement</span></a></li>
    <li><a routerLink="/"><span class="fa fa-user"></span><span> Contact</span></a></li>
  </ul>
</div>