.global{
  text-align: center;
  margin-bottom: 10PX;
}
.logo{
  height: 25vh;
}
.item{
  text-align: justify;
  padding-top: auto;
  margin-left: 15PX;
  margin-right: 15PX;
}
.button{
 top: 30px;
}
button{
  background-color: #C4C4C4;
  height: 30PX;
  width: 15VH;
  border-radius: 5PX;
}
.politique{
  // float: left;
  // background-color: #0013BF;
  color: white;
  margin-bottom: 05PX;
  width: 100%;
  --background:  #0013BF;
}
a{
  text-decoration: none;
  color: white;
}

.commencer {
  height: 40PX;
  width: 40VH;
  background-color: #0013BF;
  font-size: 20PX;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top:50px ;
}
h1{
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
  margin-left: 10PX;
  margin-right: 10px;
  border-radius: 4px;
}

.son{
  padding-top: 10px;
}

audio::webkit-media-controls-play-button{
  background-color: red;
}
audio::webkit-media-controls-pause-button{
  background-color: red;
}
audio::webkit-media-controls-mute-button{
  background-color: red;
}
audio::webkit-media-controls-unmute-button{
  background-color: red;
}
