<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <div class="global">

    <h1 style="text-align: center; font-weight:bolder; color:black">BIENVENUE</h1>

    <img class="logo" src="assets/images/kalata.png/" alt="logo">

    <audio class="son" controls style="width: 50%;"><source src="assets/images/vocal.wav" type="audio/mpeg"></audio>

    <div class="item">
      <span style="font-weight:bold;">KALATA</span> est une Application de vote en ligne vous
      permettant de voter en toute transparence, et en toute sécurité sans vous deplacer.

      <div class="politique"></div>
      <button style="font-weight:bold;" ><a routerLink="/politique">Régles</a></button>
    
    </div>
    
    <button class="commencer"><a routerLink="/tabs/typedevote">Commencer</a></button>
  </div>
</ion-content>