<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <div class="title" style="text-align: center;">
    <h2 style="font-size: 30PX;font-weight:bold">Le classement</h2>
  </div>
  <div class="classement">
    <div class="cuba">
      <img *ngIf="classements[0]" class="un" src="{{classements[0].imagecandidat}}" alt="">
      <img *ngIf="classements[1]" class="deux" src="{{classements[1].imagecandidat}}" alt="">
      <img *ngIf="classements[2]" class="trois" src="{{classements[2].imagecandidat}}" alt="">
      <span class="lu">01</span> <span class="ma">02</span> <span class="me">03</span>
    </div>
    <img style=" padding-top: 6%;" src="assets/images/roup.svg" alt="">
    <form>
      <ion-searchbar class="recherche" placeholder="recherche candidat" name="searchText"
        [(ngModel)]="searchText"></ion-searchbar>
    </form>
  </div>
</ion-toolbar>

<ion-content >

  <ion-card  *ngFor="let c of classements">
    
    <div class="global" >
      <div class="date">
        <span style="color:black;font-weight:bold">{{c.nomcandidat}}</span><br>
        <span style="color:black; font-weight:bold">Parti :{{c.nomparti}}</span> <br>
        <span style="color:red" class="scrore">Score :{{c.pourcentage}} %</span> <br>
      </div>
      <div class="imgelection"   >

        <img src="{{c.imagecandidat}}"  alt="fghjkl">
      </div>
    </div>
  </ion-card>

</ion-content>