<ion-header>
  <ion-toolbar>
    <ion-title>Classement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  
  <div class="title" style="text-align: center;">
    <h2 style="font-size: 30PX;font-weight:bold">Le classement</h2>
  </div>
  <div class="classement">
    <div class="cuba">
      <img class="un" src="/assets/images/pro.png" alt="">
      <img class="deux" src="/assets/images/pro.png" alt="">
      <img class="trois" src="/assets/images/pro.png" alt="">
    </div>
    <img style="padding-top: 15%;" src="assets/images/roup.svg" alt="">
  </div>

  <div class="pourcentage">
    <p class="lu">01</p>
    <p class="ma">02</p>
    <p class="me">03</p>
  </div>
</ion-content>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

<ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black">1. Naomie DEMBELE</span><br>
      <span style="color:black">Parti : URD</span> <br>
      <span style="color:black">Score : 68</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card>

<ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black">1. Naomie DEMBELE</span><br>
      <span style="color:black">Parti : URD</span> <br>
      <span style="color:black">Score : 68</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card>

<ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black">1. Naomie DEMBELE</span><br>
      <span style="color:black">Parti : URD</span> <br>
      <span style="color:black">Score : 68</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card>

<ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black">1. Naomie DEMBELE</span><br>
      <span style="color:black">Parti : URD</span> <br>
      <span style="color:black">Score : 68</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card>


</ion-content>