<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

  
  <div class="title" style="text-align: center;">
    <h2 style="font-size: 30PX;font-weight:bold">Le classement</h2>
  </div>
  <div class="classement">
    <div class="cuba">
      <img class="un" src="../../assets/images/cheick.jpg" alt="">
      <img class="deux" src="../../assets/images/cheick.jpg" alt="">
      <img class="trois" src="../../assets/images/cheick.jpg" alt="">
      <span class="lu">01</span>     <span class="ma" >02</span>     <span class="me">03</span> 
    </div>
    <img style=" padding-top: 6%;" src="assets/images/roup.svg" alt="">
    <form>
      <ion-searchbar class="recherche" placeholder="recherche candidat"  name="searchText"></ion-searchbar>
    </form>
  </div>
</ion-content>

<ion-content>

<ion-card style="background-color: #D8D8D8;" *ngFor="let t of classements">
  <div class="global" >
    <div class="date"  >
      <span style="color:black;font-weight:bold" >{{t.idcandidat}}. {{t.nomcandidat}}</span><br>
      <span style="color:black; font-weight:bold">Parti : {{t.nomparti}}</span> <br>
      <span style="color:red">Score :{{t.pourcentage}} %</span> <br>
    </div>
    <div class="imgelection">
      <img src="{{t.imagecandidat}}" alt="fghjkl">
    </div>
  </div>
</ion-card>
<!-- <ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card>
<ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/Soumaila_cisse.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card><ion-card style="background-color: #D8D8D8;">
  <div class="global">
    <div class="date">
      <span style="color:black;font-weight:bold">1. Naomie DEMBELE</span><br>
      <span style="color:black; font-weight:bold">Parti : URD</span> <br>
      <span style="color:red">Score : 68 %</span> <br>
    </div>
    <div class="imgelection">
      <img src="/assets/images/vote.png" alt="">
    </div>
  </div>
</ion-card> -->


</ion-content>