ion-content{
    --offset-bottom: auto ! important;
    --overflow:hidden;
    overflow:auto;
}

.cuba{
    height: 10PX;
    border-radius: 100vh;
    display: flex;
    justify-content: space-between;
}
.un{
    z-index: 1;
    position: absolute;
    top: 21%;
    margin-left: 127px;
    margin-right: 130px;
    border-radius: 50%;
    width: 45px;
    height: 42px;
}


.deux{
   

    z-index: 1;
    position: absolute;
    top: 35%;
    margin-left: 50px;
    margin-right: 50px;
    height: 42PX;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.trois{

    z-index: 1;
    position: absolute;
    top: 40%;
    margin-left: 201px;
    margin-right: 90px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.lu{
    background-color: white;
    height: 20PX;
    width: 25PX;
    padding-left: 4px;
    // ici
    padding-right: 4px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 36px;
    left: 135px;
}

.ma{
    background-color: white;
    height: 20PX;
    width: 25PX;
    padding-left: 4px;
    // ici
    padding-right: 4px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 82px;
    left: -68px;
}


.me{
    background-color: white;
    height: 20PX;
    width: 25PX;
    padding-left: 4px;
    // ici
    padding-right: 4px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 93px;
    left: -35px;
}

.global{
    display: flex;
    padding-top: 20PX;
    width: 90%;
    justify-content: space-between;
}

.imgelection{
    // height: auto;
    // width: 10VH;
    margin-left: 30PX;
    // ici
    // margin-right: 30PX;
    border-radius: 50%;
    width: 60px;
    height: 60px;


}
.date{
    padding-right: 05px;
    padding-left: 05px;
}
a{
    text-decoration: none;
    color: white;
  }

  .recherche{
    margin-top: -35px;
  }

  img{
    border-radius: 20px;
    margin-left: 10PX;
    
  }
  ion-content {
    overflow-y: scroll;
  }

  